* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

html {
  font-size: 1vmax;
}

body {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  font-family: kong, sans-serif;
  font-size: calc(1vmax);
  line-height: 2;
}
