a {
  &:active,
  &:link,
  &:visited {
    color: blue;

    .invert & {
      color: deepskyblue;
    }
  }

  &:focus,
  &:hover {
    color: red;
    outline: none;

    .invert & {
      color: red;
    }
  }
}
