main {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2rem;
  position: relative;

  &.invert {
    background-color: black;
    color: white;
  }
}

@media (max-width: 750px) {
  main {
    flex-shrink: 0;
    padding-top: 7rem;
    width: 100vw;
  }
}

@media (max-width: 350px) {
  main {
    overflow: auto;
  }
}
