@font-face {
  font-family: 'joystix';
  src: url('/assets/joystix/joystix_monospace-webfont.eot');
  src: url('/assets/joystix/joystix_monospace-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/joystix/joystix_monospace-webfont.woff2') format('woff2'),
       url('/assets/joystix/joystix_monospace-webfont.woff') format('woff'),
       url('/assets/joystix/joystix_monospace-webfont.ttf') format('truetype'),
       url('/assets/joystix/joystix_monospace-webfont.svg#joystixmonospace') format('svg');
  font-style: normal;
  font-weight: normal;
}
