@font-face {
  font-family: 'kong';
  src: url('/assets/kong/kongtext-webfont.eot');
  src: url('/assets/kong/kongtext-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/kong/kongtext-webfont.woff2') format('woff2'),
       url('/assets/kong/kongtext-webfont.woff') format('woff'),
       url('/assets/kong/kongtext-webfont.ttf') format('truetype'),
       url('/assets/kong/kongtext-webfont.svg#kongtextregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
