.application-header {
  align-items: stretch;
  background-color: white;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: scroll;
  text-align: center;
  width: 30vw;

  .brand {
    font-size: 5em;
    line-height: 1;
    margin: 2rem 0;
  }
}
