header[role=banner] {
  align-items: stretch;
  background-color: white;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  color: black;
  display: flex;
//  display: none;
  flex-direction: column;
  flex-shrink: 0;
  overflow: scroll;
  text-align: center;
  width: 30vw;

  .brand {
    font-size: 3em;
    line-height: 1;
    margin: 2rem 0;
  }

  nav {
    ul {
      align-content: stretch;
      display: flex;
      flex-direction: column;
    }

    li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin: 0;
      }
    }

    a {
      background-color: white;
      color: inherit;
      display: block;
      outline: none;
      padding: 2rem;
      text-decoration: none;

      span {
        background-color: white;
        border-color: black;
        border-style: dotted;
        padding: 0 0.5rem;
      }

      &:focus,
      &:hover {
        @extend %grid-background;

        span {
          border-width: 1px;
        }
      }
    }
  }
}
