header[role=banner] {
  align-items: stretch;
  background-color: white;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 30vw;
  overflow: scroll;
  text-align: center;
  width: 30vmax;

  .brand {
    font-size: 3em;
    line-height: 1;
    margin: 2rem 0;
  }

  nav {
    overflow: hidden;
    position: relative;

    ul {
      align-content: stretch;
      display: flex;
      flex-direction: column;
    }

    li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin: 0;
      }
    }

    a,
    label {
      background-color: white;
      color: inherit;
      cursor: pointer;
      display: block;
      outline: none;
      padding: 2rem;
      text-decoration: none;

      span {
        background-color: white;
        border-color: black;
        border-style: dotted;
        padding: 0 0.5rem;
      }

      &:focus,
      &:hover {
        @extend %grid-background;

        span {
          border-width: 1px;
        }
      }
    }

    input[type=checkbox][data-subnav] {
      display: none;

      &:not(:checked) + [data-subnav] {
        left: 100%;
      }

      + [data-subnav] {
        background-color: white;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: left 0.5s;
        width: 100%;
      }
    }
  }
}

@media (max-width: 750px) {
  header[role=banner] {
    bottom: 0;
    flex-shrink: 0;
    left: 0;
    max-width: 70vw;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-100vw);
    transition: all 0.5s;
    width: 70vw;
    z-index: 2;
  }

  main:before {
    background-color: rgba(black, 0);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.2s;
  }

  #nav-control:checked {
    + header[role=banner] {
      pointer-events: auto;
      transform: translateX(0);
    }

    ~ main:before {
      background-color: rgba(black, 0.8);
      pointer-events: all;
    }
  }
}
