.error:empty {
  overflow: hidden;
  position: relative;

  &:after,
  &:before {
    align-content: center;
    align-items: center;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.3rem;
    color: red;
    display: flex;
    height: 10rem;
    justify-content: center;
    left: 50%;
    margin-left: -5rem;
    margin-top: -5rem;
    position: absolute;
    top: 50%;
    width: 10rem;
  }

  &:after {
    animation-delay:
      0s,
      0.5s;
    animation-duration:
      0.5s,
      2s;
    animation-fill-mode: forwards;
    animation-iteration-count:
      1,
      infinite;
    animation-name:
      error-start,
      error;
    border-color: currentColor;
    content: '';
  }

  &:before {
    animation-duration: 0.5s;
    animation-name: spin;
    border-color: transparent;
    content: 'Error';
  }
}
