.markdown-editor {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  [name=title] {
    @extend h1;

    padding: 1rem;
  }

  fieldset {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }

  [role=textbox], output {
    overflow: auto;
    padding: 1rem;
    width: 50%;
  }

  [role=textbox] {
    outline: none;
  }

  menu {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 1rem;
    width: 100%;
  }
}
