<h1>My name is Trezy. I'm a web developer. I do developy things.</h1>

<p>I got my start in computers about a million years ago when the original <abbr title="Nintendo Entertainment System">NES</abbr> was a thing. An absolutely infuriating round of Super Mario Bros. caused this angry toddler to yank the system off the top of the TV. The beautiful result was pile of plastic and electronics that inspired me to start asking, "How does this work?"</p>

<p>After a burgeoning youth full of busted electronics I built up an interest in the softer side of things. I built a few websites, wrote a few scripts, and set up my first server, constructing a perfect platform off of which I would launch my career as a <abbr title="Software Engineer">web dude</abbr>. Now I've worked for the likes of <a href="/blogs/On%20Amazon">Amazon</a> and <a href="http://amfam.com">American Family Insurance</a> and I still love what I do. Today I work at <a href="http://adorable.io">Adorable.io</a>.</p>

<h2>I still play games.</h2>

<p>Video games, board games, and tabletop <abbr title="Pen & Paper">P&amp;P</abbr> games are all awesome.</p>

<h2>Oh, I like to write.</h2>

<p>I spend a fair amount of time writing stuff that I'll never publish but you can see some of my work on <a href="http://medium.com/@trezytv">Medium</a> or <a href="/blog">here, on my blog</a>.</p>
