<ul>
  <li>
    <a href="/tweeter">
      <span>Tweeter</span>
    </a>
  </li>
  <li>
    <a href="/blog">
      <span>Blog</span>
    </a>
  </li>
  <li>
    <a href="/about">
      <span>About</span>
    </a>
  </li>
  <li>
    <a href="/contact">
      <span>Contact</span>
    </a>
  </li>
</ul>
