<ul>
  <li>
    <a href="/tweeter">
      <span>Tweeter</span>
    </a>
  </li>

  <li>
    <a href="/blog">
      <span>Blog</span>
    </a>
  </li>

  <li>
    <label for="things-i-create">
      <span>Things I Create</span>
    </label>

    <input data-subnav id="things-i-create" type="checkbox">

    <ul data-subnav>
      <li>
        <label for="things-i-create">
          <span>Back</span>
        </label>
      </li>

      <li>
        <a href="/gifs">
          <span>Gifs</span>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a href="/about">
      <span>About</span>
    </a>
  </li>

  <li>
    <a href="/contact">
      <span>Contact</span>
    </a>
  </li>
</ul>
