@keyframes loading-start {
  0% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: currentColor;
  }

  100% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: white;
  }
}

@keyframes loading {
  0% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: white;
  }

  25% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: white;
    border-top-color: currentColor;
  }

  50% {
    border-bottom-color: white;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: currentColor;
  }

  75% {
    border-bottom-color: currentColor;
    border-left-color: white;
    border-right-color: currentColor;
    border-top-color: currentColor;
  }

  100% {
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    border-top-color: white;
  }
}
